<mat-toolbar color="primary">
        <a mat-button [routerLink]="''">
            <span style="font-size: 35px;">
                <i class="fa fa-home"></i>
            </span>
        </a>

        <a mat-button [routerLink]="'/news'">
            <span style="font-size: 35px;">
                <i class="fa fa-newspaper-o"></i>
            </span>
        </a>

        <a mat-button [routerLink]="'/raffles'">
            <span style="font-size: 35px;">
                <i class="fa fa-ticket"></i>
            </span>
        </a>

        <span class="title-center"></span>
        <h1>SneakerLand</h1>

        <span class="fill-space"></span>

        <a mat-button href="https://www.facebook.com" target="_blank">
            <span style="font-size: 35px;">
                <i class="fa fa-facebook"></i>
            </span>
        </a>

        <a mat-button href="https://www.instagram.com" target="_blank">
            <span style="font-size: 35px;">
                <i class="fa fa-instagram"></i>
            </span>
        </a>
        
        <a mat-button href="https://www.twitter.com" target="_blank">
            <span style="font-size: 35px;">
                <i class="fa fa-twitter"></i>
            </span>
        </a>
        <p style="font-size: 35px;">|</p>
        <a mat-button [routerLink]="'/search'">
            <span style="font-size: 35px;">
                <i class="fa fa-search"></i>
            </span>
        </a>

        <a mat-button [routerLink]="'/account'">
            <span style="font-size: 35px;">
                <i class="fa fa-user-circle"></i>
            </span>
        </a>

</mat-toolbar>